.flex-box {
	display: flex;

	&.align-cnt {
		align-items: center;
	}

	&.justify-cnt {
		justify-content: center;
	}

	&.justify-bet {
		justify-content: space-between;
	}

	&.dir-col {
		flex-direction: column;
	}
}

button {
	cursor: pointer;
}

button,
input,
select {
	outline: none;
	height: 50px;
	border: 1px solid #ddd;
	padding: 0 10px;
}

.hidden {
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}